language: java

jdk:
  - openjdk11

script:
  - mvn test
  
after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - fpratto@fi.uba.ar
      - jdicomo@fi.uba.ar
    on_failure: always
